<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fworldcodez.wzool.dao.CardsMapper" >
  <resultMap id="BaseResultMap" type="com.fworldcodez.wzool.pojo.Cards" >
    <id column="card_id" property="cardId" jdbcType="INTEGER" />
    <result column="card_description" property="cardDescription" jdbcType="INTEGER" />
    <result column="zool_id" property="zoolId" jdbcType="INTEGER" />
    <result column="card_price" property="cardPrice" jdbcType="INTEGER" />
    <result column="card_ortginal_price" property="cardOrtginalPrice" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="card_photo" property="cardPhoto" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    card_id, card_description, zool_id, card_price, card_ortginal_price, start_time, 
    end_time, card_photo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cards
    where card_id = #{cardId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cards
    where card_id = #{cardId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fworldcodez.wzool.pojo.Cards" >
    insert into cards (card_id, card_description, zool_id, 
      card_price, card_ortginal_price, start_time, 
      end_time, card_photo)
    values (#{cardId,jdbcType=INTEGER}, #{cardDescription,jdbcType=INTEGER}, #{zoolId,jdbcType=INTEGER}, 
      #{cardPrice,jdbcType=INTEGER}, #{cardOrtginalPrice,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{cardPhoto,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fworldcodez.wzool.pojo.Cards" >
    insert into cards
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cardId != null" >
        card_id,
      </if>
      <if test="cardDescription != null" >
        card_description,
      </if>
      <if test="zoolId != null" >
        zool_id,
      </if>
      <if test="cardPrice != null" >
        card_price,
      </if>
      <if test="cardOrtginalPrice != null" >
        card_ortginal_price,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="cardPhoto != null" >
        card_photo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cardId != null" >
        #{cardId,jdbcType=INTEGER},
      </if>
      <if test="cardDescription != null" >
        #{cardDescription,jdbcType=INTEGER},
      </if>
      <if test="zoolId != null" >
        #{zoolId,jdbcType=INTEGER},
      </if>
      <if test="cardPrice != null" >
        #{cardPrice,jdbcType=INTEGER},
      </if>
      <if test="cardOrtginalPrice != null" >
        #{cardOrtginalPrice,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cardPhoto != null" >
        #{cardPhoto,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fworldcodez.wzool.pojo.Cards" >
    update cards
    <set >
      <if test="cardDescription != null" >
        card_description = #{cardDescription,jdbcType=INTEGER},
      </if>
      <if test="zoolId != null" >
        zool_id = #{zoolId,jdbcType=INTEGER},
      </if>
      <if test="cardPrice != null" >
        card_price = #{cardPrice,jdbcType=INTEGER},
      </if>
      <if test="cardOrtginalPrice != null" >
        card_ortginal_price = #{cardOrtginalPrice,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cardPhoto != null" >
        card_photo = #{cardPhoto,jdbcType=VARCHAR},
      </if>
    </set>
    where card_id = #{cardId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fworldcodez.wzool.pojo.Cards" >
    update cards
    set card_description = #{cardDescription,jdbcType=INTEGER},
      zool_id = #{zoolId,jdbcType=INTEGER},
      card_price = #{cardPrice,jdbcType=INTEGER},
      card_ortginal_price = #{cardOrtginalPrice,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      card_photo = #{cardPhoto,jdbcType=VARCHAR}
    where card_id = #{cardId,jdbcType=INTEGER}
  </update>
</mapper>